@font-face {
  font-family: 'Cairo';
  src: url('/fonts/cairo/Cairo-Regular.ttf') format('truetype');
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Cairo';
  src: url('/fonts/cairo/Cairo-Bold.ttf') format('truetype');
  font-weight: 700;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'IBMPlexArabic';
  src: url('/fonts/cairo/IBMPlexArabic-Text.ttf') format('truetype');
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'NotoSansArabic';
  src: url('/fonts/cairo/NotoSansArabic-Regular.ttf') format('truetype');
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'AscenderSerif';
  src: url('/fonts/Ascender-Serif-W01-Bold.ttf') format('truetype');
  font-weight: 700;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'UntypeMondoNews';
  src: url('/fonts/untype-mondo-news-bold-italic.woff2') format('woff2'),
       url('/fonts/untype-mondo-news-bold-italic.ttf') format('truetype');
  font-weight: 700;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'MondoArabic';
  src: url('/fonts/untype-mondo-news-bold-italic.woff2') format('woff2'),
       url('/fonts/untype-mondo-news-bold-italic.ttf') format('truetype');
  font-weight: 700;
  font-style: normal;
  font-display: swap;
  unicode-range: U+0600-06FF;
}
