
@font-face {
  font-family: 'Cairo';
  src: url('/fonts/cairo/Cairo-Bold.ttf') format('truetype');
  font-weight: 700;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: 'Cairo';
  src: url('/fonts/NotoSansArabic-Regular.ttf') format('truetype');
  font-weight: 500;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: 'Tajawal';
  src: url('/fonts/JannatLT-Bold.ttf') format('woff2'),
     url('/fonts/JannatLT-Bold.ttf') format('truetype');
  font-weight: 700; 
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Tajawal';
  src: url('/fonts/JannatLT-Regular.ttf') format('woff2'),
    url('/fonts/JannatLT-Regular.ttf') format('truetype');
  font-weight: 500; 
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: 'IBM';
  src: url('/fonts/IBMPlexSansArabic-Regular.ttf') format('woff2')
      url('/fonts/IBMPlexSansArabic-Regular.ttf') format('truetype');

  font-weight: 700; 
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: 'IBM';
  src: url('/fonts/IBMPlexSansArabic-Regular.ttf') format('woff2'),
   url('/fonts/IBMPlexSansArabic-Regular.ttf') format('truetype');
  font-weight: 500; 
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Tanseek';
  src: url('/fonts/TanseekModernProArabic.ttf') format('woff2'),
   url('/fonts/TanseekModernProArabic.ttf') format('truetype');
  font-weight: 700; 
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Droid';
  src: url('/fonts/Droid.Arabic.Kufi.ttf') format('woff2'),
    url('/fonts/Droid.Arabic.Kufi.ttf') format('truetype');
  font-weight: 700; 
  font-style: normal;
  font-display: swap;
}


